body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #F3F4FA;
    margin: 20px;
    padding: 0;
    gap: 20;
    }
    h1 {font-size: 52px;}
    h2 {font-size: 33px;}
    h3 {font-size: 24px;}
    h4 {font-size: 20px;}
    p {font-size: 18px;}
    p {margin-block-start: 0; /* Remove the default margin from p */}
    h2 {margin: 0; /* Remove the top margin */}
    h3 {margin: 0; /* Remove the top margin */}
    h4 {margin: 0; /* Remove the top margin */}

    /* Import Poppins font */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    
    /* Example: Media query for mobile devices */
    @media (max-width: 600px) {
        body {
            font-family: 'Poppins', Arial, sans-serif; /* Adjust as needed */
        }
    }

.container {
        max-width: 960px;
        margin: 0 auto;
    }

section {
    background-color: white;
    border-radius: 10px;
    margin: 20px 0 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b3d6ff;
    color: #002e64;
    text-align: center;
    border-radius: 10px; /* Add rounded corners */
    height: 150px;
    margin-bottom: 20px;
    align-content: center;
    margin: 0 auto;
    padding: 20px 0;
}

footer {
    max-width: 960px;
    align: center;
    background-color: transparent;
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}
footer ~ * {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.logo {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
}

.section-title h2 {
    width: 100%; /* Title takes full width */
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Spacing items evenly across the container */
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.text-content-row {
    flex: 1;
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 300px
}
.image-column {
    flex: 1; /* Image column takes 500px width */
    min-width: 290px;
    display: flex;
    flex-direction: column;
}

.text-column {
    flex: 2; /* Text column takes remaining space */
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.text-column p {
    margin: 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: start; /* Align buttons to the bottom */
    gap: 10px;
    inline-size: fit-content;
    margin-top: 20px;
}

body .button {
    background-color: #002e64;
    color: white;
    border: 2px solid #002e64;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none; /* Remove underlines */
    font-size: 20px; /* Set font size */
    font-weight: 500; /* Set font weight */
}
body .button:hover {
    background-color: transparent;
    color: #002e64;
}

.portfolio-item {
    position: relative;
    width: 100%;
    height: 300px;
    max-width: calc(33.333% - 20px); /* Adjust according to your design */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for the hover effect */
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    overflow: hidden;
}

.portfolio-item:hover {
    transform: translateY(-5px); /* Move the element up by 5px on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
}
.portfolio-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.portfolio-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6) 100%, rgba(0,0,0,0) 20%);
    z-index: 1;
    border-radius: 10px;
}

.portfolio-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px
    color: white;
    z-index: 2;
}

/* Override the visited link color to white */
.portfolio-text a:visited {
    color: white;
}

.portfolio-text h3 {
    margin: 0;
    color: white;
}

.portfolio-text p {
    margin: 0 5px 0 0;
    color: white;
}

.portfolio-text a {
    color: white;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 989px) {
    .section-content {
        justify-content: flex-start; /* Align items to the start */
    }

    .portfolio-item {
        flex: 1 1 calc(50% - 20px); /* 2 columns at 989px and below */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .portfolio-item {
        flex: 1 1 100%; /* 1 column at 700px and below */
        max-width: 100%;
    }
}

@media (max-width: 690px) {
    img:not(.logo img) {
        flex: 1 1 100%; /* 1 column at 700px and below */
        max-width: 100%;
        /* Add any other styles you need */
    }
}

.box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 0.5;
    background-color: #F3F4FA;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

/* Style the tab */
.tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #fff;
    
}

.tabs button {
    background-color: #f5f5f5;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 10px;
    color: #c6c6c6;
}

.tabs button:hover {
    background-color: #e2e3ed;
    border-radius: 10px;
    color: #5c5c5c;
}

.tabs button.active {
    background-color: #b3d6ff;
    border-radius: 10px;
    color: #002e64;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px 0 0;
    border-top: none;
}

.tabcontent.active {
    display: block;
}

.tablinks.active {
    background-color: #007bff;
    color: white;
}

.expandable-content {
    display: none;
    margin-top: 10px;
}

.expand-btn {
    display: flex;
    background: none;
    border: none;
    color: #002e64;
    cursor: pointer;
    font-size: 18px;
    padding: 20px 0 0;
    font: unset;
}

.expand-btn:hover {
    color: black;
}

/* ---------------------------- ARROWS ---------------------------- */

.arrow {
    display: inline-block;
    border: solid black;
    width: 0;
    height: 0; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
