body {
    font-family: 'Arboria Book', Arial, sans-serif;
    background-color: #F3F4FA;
    margin: 20;
    padding: 0;
    }
    h1 {font-size: 52px;}
    h2 {font-size: 33px;}
    h3 {font-size: 24px;}
    p {font-size: 18px}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

header {
    max-width: 960px;
    align: center;
    background-color: #b3d6ff;
    color: black;
    text-align: center;
    border-radius: 10px; /* Add rounded corners */
}

footer {
    max-width: 960px;
    align: center;
    background-color: #F3F4FA;
    color: black;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px; /* Add rounded corners */
}

img {
    max-width: 100%;
    height: auto;
}
.about-me-section {
    display: flex;
    flex-direction: column;
}

.about-me-section h2 {
    width: 100%; /* Title takes full width */
}

.about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Spacing items evenly across the container */
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 20px;
}

.image-column {
    flex: 0 0 300px; /* Image column takes 500px width */
    max-width: 100%; /* Ensure image doesn't exceed its container */
    margin-right: 20px; /* Add some space between the image and text */
}

.text-column {
    flex: 1; /* Text column takes remaining space */
}

.about-me-content p {
    /*margin: 0; /* Remove default margins */
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align buttons to the right */
    /*align-items: flex-end; /* Align buttons to the bottom */
    padding-top: 20px; /* Add space between text and buttons */
    gap: 10px;
}

.about-button {
    background-color: #002e64;
    color: white;
    border: 2px solid #002e64;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: 10px; /* Add spacing between buttons */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none; /* Remove underlines */
    font-size: 20px; /* Set font size */
    font-weight: 500; /* Set font weight */
}

.about-button:hover {
    background-color: transparent;
    color: #002e64;
}

